.image-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 0px;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
 
  }
  

  