.post-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-top: 20px;
    min-height: 100vh;
}

@media (max-width: 950px) {
    .post-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
}