/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    text-transform: capitalize;
}

.auth-form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80vw;

}
.auth-form.signup{
    height: auto;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    text-align: start;
    padding-left: 5px;
}

.input-container input[type="text"],
.input-container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="password"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* .input-container .file-input {
    display: flex;
    align-items: center;
}

.input-container .file-label {
    display: inline-block;
    padding: 8px 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.input-container .file-label:hover {
    background-color: #ddd;
}

.input-container input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
} */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

.buttons-container{
    padding: 10px;
}
.buttons-container button {
    background-color: #010000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.buttons-container button:nth-child(2) {
    background-color: #E60023;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

textarea {
    resize: vertical;
    font-family: 'Poppins', sans-serif;
}

.submit-button {
    background-color: #E60023;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease-in-out;
    border-radius: 50px;
}

.submit-button:hover {
    background-color: #ff3251;
    
}
.links-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
}
.links-container input:nth-child(odd) {
    /* padding: 10px 20px; */
    border-radius: 10px 0 0 10px;
}

.links-container input:nth-child(even) {
    border-radius: 0 10px 10px 0;
}
p{
    color:rgba(0, 0, 0)
}
.auth-span{
    color: red;
    font-weight: 600;
    cursor: pointer;
    color: #E60023
}