.auth-form.login, .signup{
    height: 35rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login{
    color: white;
    background-color: #E60023
}
.sign-up{
    color: white;
    background-color: #E60023
}